/** UNIVERSAL STYLES **/
@font-face {
    font-family:"norwester";
    src: url("../fonts/norwester/norwester.eot") format('embedded-opentype'),
    url("../fonts/norwester/norwester.ttf") format("truetype"),
    url("../fonts/norwester/norwester.woff") format("woff");
}
@font-face {
    font-family:"aaargh";
    src: url("../fonts/aaargh/Aaargh.eot") format('embedded-opentype'),
    url("../fonts/aaargh/Aaargh.ttf") format("truetype"),
    url("../fonts/aaargh/Aaargh.woff") format("woff");
}

:root {
    --header-font: "norwester";
    --header-font-size: 50px;
    --body-font: "aaargh";
    --body-font-size: 20px;
    --primary-color:#A44A3f;
    --secondary-color:#FFF1D0;
    --tertiary-color:#FFFFFF;
    --default-spacing:20px;
}

* {
    box-sizing: border-box;
}

a:visited, a:hover, a:link, a:active {
    text-decoration: none;
    color:inherit;
}

body {
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    background:linear-gradient(225deg, #114B5F, #00C2D1);
    font-family:var(--body-font);
    font-size:var(--body-font-size);
}

h1,h2,h3,h4,h5,h6 {
    font-family:var(--header-font);
    font-size:var(--header-font-size);
}

button {
    border:none;
    background:var(--primary-color);
    color:var(--secondary-color);
    padding:var(--default-spacing);
}

/** END OF UNIVERSAL STYLES **/

/** SIDE NAVIGATION STYLES **/

#side-navigation {
    display:inline-block;
    min-width:250px;
    max-width:25vw;
    min-height:100vh;
    background:var(--primary-color);
    color:var(--secondary-color);
}

#menu {
    margin:0;
    padding:0;
}

#menu > li {
    padding:var(--default-spacing) 0 var(--default-spacing) var(--default-spacing);
    cursor:pointer;
}

#menu li {
    list-style:none;
}

#menu li.active {
    background:var(--secondary-color);
    color:var(--primary-color);
}

.menu-item {
    padding:var(--default-spacing) var(--default-spacing) var(--default-spacing) 0;
}

.submenu {
    display:none;
    margin-left:calc(0 - var(--default-spacing));
    padding:0;
    background:rgba(0, 0, 0, .33);
}

.submenu li {
    padding:var(--default-spacing) 45px;
    transition: all 1s;
}

.submenu li:hover {
    background:var(--secondary-color);
    color:var(--primary-color);
}

/** END OF SIDE NAVIGATION STYLES **/

/** MAIN CONTENT AREA STYLES **/

.fsi-container {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
}

main {
    margin:var(--default-spacing);
    padding:var(--default-spacing);
    background:var(--secondary-color);
    color:var(--primary-color);
    width:calc(100vw - (2 * var(--default-spacing)) - 25vw)
}

main header {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom:var(--default-spacing);
}

.data-table thead {
    background:var(--primary-color);
    color:var(--secondary-color);
}


.data-table tbody tr {
    cursor:pointer;
    transition:all 1s ease;
}

.data-table tbody tr:hover {
    background:rgba(164, 74, 63, .33);
}

.table-btn {
    background:none;
    color:inherit;
    border:none;
    padding:0;
}

/** BOOTSTRAP OVERRIDES **/
.modal-header {
    background:var(--primary-color);
    color:var(--secondary-color);
}

.modal-content {
    background:var(--secondary-color);
    color:var(--primary-color);
}

.modal-footer {
    justify-content: center;
}

.table {
    color:var(--primary-color);
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    color:var(--primary-color);
}


