<div class="modal fade" id="modal-bin-location" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="modal-bin-location" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                {{#if binLocationName}}
                    <h5 class="modal-title">Edit Bin Location</h5>
                {{else}}
                    <h5 class="modal-title">Add Bin Location</h5>
                {{/if}}
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form-bin">
                    <div class="mb-3">
                        <label class="form-label" for="bin-location-name">Bin Location Name</label>
                        {{#if binLocationName}}
                            <input type="text" id="bin-location-name" class="form-control" value="{{binLocationName}}" />
                        {{else}}
                            <input type="text" id="bin-location-name" class="form-control" />
                        {{/if}}
                    </div>
                    {{#if binLocationId}}
                        <input type="hidden" id="bin-location-id" value="{{binLocationId}}" />
                    {{/if}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" id="btn-save-bin-location">Save</button>
            </div>
        </div>
    </div>
</div>